table.setTable {
	margin-top: 25px;	
}
<<<<<<< Updated upstream

=======
/* Material Design input */
/*
.input-contain {
	position: relative;
}

input {
	height: 35px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
}

	input:focus {
		outline: none;
		border-color: blueviolet;
	}

		
		input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text {
			background-color: white;
			font-size: 11.8px;
			color: black;
			transform: translate(0, -130%);
		}

		input:focus + .placeholder-text .text {
			border-color: blueviolet;
			color: blueviolet;
		}

.placeholder-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	right: 0;
	border: 3px solid transparent;
	background-color: transparent;
	pointer-events: none;
	display: flex;
	align-items: center;
	font-family: arial;
}

.text {
	font-size: 15px;
	padding: 0 4px;
	background-color: transparent;
	transform: translate(0);
	color: black;
	transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

input, .placeholder-text {
	font-size: 15px;
	padding: 0 12.8px;
}

@media (max-width: 100px) {
	input {
		width: 70vw;
	}
}
*/
/* END OF Material Design input */

#inputsDiv {
	margin-top: 10px;
}
>>>>>>> Stashed changes
input.matrixParam {
	width: 30px;
	height: 25px;
	border-radius:5px;
}
p{
	margin:0px;
}
p.regularText {
	font-family: Arial;
}

#setTextRows {
	margin-top: 0px;
	margin-right: 0px;
}
#setTextColumns{
	margin-top:5px;
	margin-right:0px;
}
#columnInput{
	margin-top:5px;
}
/* (my old set button)
    button.setBtn{
        margin-top:5px;
        border-radius:5px;
        background-color:#4681f4;
        color:white;        
        border: none;        
    }
    .setBtn:hover{
        background-color:#3765BF;
        box-shadow:1px 1px 3px #888888;
        
    }
    .setBtn:active{
        background-color:#2257BF;
    }
    */
MatButton.matSetBtn {
	background-color: red;
}

#setBtn {
	background-color: red;
}

/* matrixes */

div.matrixes {
	margin-top: 25px;
}

th.tableHead {
	height: 10px;
}

input.matrixInput {
	width: 30px;
	height: 25px;	
}

td.spacerTd {
	width: 60px;
}

button.calcBtn {
	width: 25px;
	height: 30px;
	border-radius: 5px;
	color: #4681f4;
	border:1.75px solid #4681f4;
	background-color: white;
}

.calcBtn:hover {
	background-color: #4681f4;	
	color: white;
}

.calcBtn:active {
	background-color: #3765BF;
}

#addBtn {
	margin-top: 20%;
}

#subBtn {
	margin-bottom: 20%;
	margin-top: 10%;
}

div.waitDiv {
	height: 30px;
	width: 60px;
	border-radius: 5px;
	background-color: lightgrey;
	margin-left: 25%;
}

/*
    input.testInput{
        width:600px
    }
    */
