/* _content/BlazorApp/Pages/MatrixOps.razor.rz.scp.css */
table.setTable[b-bcmsxwj9nb] {
	margin-top: 25px;
}

/* Material Design input */
.input-contain[b-bcmsxwj9nb] {
	position: relative;
}

input[b-bcmsxwj9nb] {
	height: 35px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
}

	input:focus[b-bcmsxwj9nb] {
		outline: none;
		border-color: blueviolet;
	}

		/* saved 
			input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text {
			background-color: white;
			font-size: 11.8px;
			color: black;
			transform: translate(0, -130%);
		}
		*/
		input:focus + .placeholder-text .text[b-bcmsxwj9nb], :not(input[value=""]) + .placeholder-text .text[b-bcmsxwj9nb] {
			background-color: white;
			font-size: 11.8px;
			color: black;
			transform: translate(0, -130%);
		}

		input:focus + .placeholder-text .text[b-bcmsxwj9nb] {
			border-color: blueviolet;
			color: blueviolet;
		}

.placeholder-text[b-bcmsxwj9nb] {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -10px;
	right: 0;
	border: 3px solid transparent;
	background-color: transparent;
	pointer-events: none;
	display: flex;
	align-items: center;
	font-family: arial;
}

.text[b-bcmsxwj9nb] {
	font-size: 15px;
	padding: 0 4px;
	background-color: transparent;
	transform: translate(0);
	color: black;
	transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}

input[b-bcmsxwj9nb], .placeholder-text[b-bcmsxwj9nb] {
	font-size: 15px;
	padding: 0 12.8px;
}

@media (max-width: 100px) {
	input[b-bcmsxwj9nb] {
		width: 70vw;
	}
}
/* END OF Material Design input */

input.matrixParam[b-bcmsxwj9nb] {
	width: 30px;
	height: 25px;
}

p.regularText[b-bcmsxwj9nb] {
	font-family: Arial;
}

#setText[b-bcmsxwj9nb] {
	margin-top: 20px;
	margin-right: 5px;
}
/* (my old set button)
    button.setBtn{
        margin-top:5px;
        border-radius:5px;
        background-color:#4681f4;
        color:white;        
        border: none;        
    }
    .setBtn:hover{
        background-color:#3765BF;
        box-shadow:1px 1px 3px #888888;
        
    }
    .setBtn:active{
        background-color:#2257BF;
    }
    */
MatButton.matSetBtn[b-bcmsxwj9nb] {
	background-color: red;
}

#setBtn[b-bcmsxwj9nb] {
	background-color: red;
}

/* matrixes */

div.matrixes[b-bcmsxwj9nb] {
	margin-top: 25px;
}

th.tableHead[b-bcmsxwj9nb] {
	height: 10px;
}

input.matrixInput[b-bcmsxwj9nb] {
	width: 30px;
	height: 25px;
}

td.spacerTd[b-bcmsxwj9nb] {
	width: 60px;
}

button.calcBtn[b-bcmsxwj9nb] {
	width: 25px;
	height: 30px;
	border-radius: 5px;
	color: #4681f4;
	border:1.75px solid #4681f4;
	background-color: white;
}

.calcBtn:hover[b-bcmsxwj9nb] {
	background-color: #4681f4;	
	color: white;
}

.calcBtn:active[b-bcmsxwj9nb] {
	background-color: #3765BF;
}

#addBtn[b-bcmsxwj9nb] {
	margin-top: 20%;
}

#subBtn[b-bcmsxwj9nb] {
	margin-bottom: 20%;
	margin-top: 10%;
}

div.waitDiv[b-bcmsxwj9nb] {
	height: 30px;
	width: 60px;
	border-radius: 5px;
	background-color: lightgrey;
	margin-left: 25%;
}

/*
    input.testInput{
        width:600px
    }
    */
/* _content/BlazorApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-3dsd3z3yec] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3dsd3z3yec] {
    flex: 1;
}

.sidebar[b-3dsd3z3yec] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-3dsd3z3yec] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-3dsd3z3yec]  a, .top-row .btn-link[b-3dsd3z3yec] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3dsd3z3yec] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3dsd3z3yec] {
        display: none;
    }

    .top-row.auth[b-3dsd3z3yec] {
        justify-content: space-between;
    }

    .top-row a[b-3dsd3z3yec], .top-row .btn-link[b-3dsd3z3yec] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3dsd3z3yec] {
        flex-direction: row;
    }

    .sidebar[b-3dsd3z3yec] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3dsd3z3yec] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3dsd3z3yec], article[b-3dsd3z3yec] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-7cxxmz0cwl] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-7cxxmz0cwl] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-7cxxmz0cwl] {
    font-size: 1.1rem;
}

.oi[b-7cxxmz0cwl] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-7cxxmz0cwl] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-7cxxmz0cwl] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-7cxxmz0cwl] {
        padding-bottom: 1rem;
    }

    .nav-item[b-7cxxmz0cwl]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-7cxxmz0cwl]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-7cxxmz0cwl]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-7cxxmz0cwl] {
        display: none;
    }

    .collapse[b-7cxxmz0cwl] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
